{% extends 'base.html.twig' %}

{% block title %}Student index{% endblock %}

{% block body %}
    <h1>Student index</h1>
    <div class='container'>
        {{form(form)}}
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Gender</th>
                <th>Name</th>
                <th>Firstname</th>
                <th>NativeCountry</th>
                <th>Created_at</th>
                <th>Nationality</th>
                <th>UsualLanguage</th>
                <th>NativeLanguage</th>
                <th>Phone</th>
                <th>MobilePhone</th>
                <th>Email</th>
                <th>Birthday</th>
                <th>Tcf</th>
                <th>Status</th>
                <th>assigned</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <td>{{ student.id }}</td>
                {# <td>{{ student.blackListed ? 'Yes' : 'No' }}</td> #}
                <td>{{ student.gender }}</td>
                <td>{{ student.name }}</td>
                <td>{{ student.firstname }}</td>
                <td>{{ student.nativeCountry|country_name }}</td>
                <td>{{ student.createdAt ? student.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ student.nationality }}</td>
                <td>{{ student.usualLanguage|language_name('fr') }}</td>
                <td>{{ student.nativeLanguage|language_name('fr') }}</td>
                <td>{{ student.phone }}</td>
                <td>{{ student.mobilePhone }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.birthday ? student.birthday|date('Y-m-d') : '' }}</td>
                <td>{{ student.tcf }}</td>
                <td>{{ student.status }}</td>
                <td>{{ student.assigned ? 'Yes' : 'No'  }}</td>
                <td>
                    <a href="{{ path('student_show', {'id': student.id}) }}">show</a>
                    <a href="{{ path('student_edit', {'id': student.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="17">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('student_new') }}">Create new</a>


{% endblock %}
