<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
           <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    
                    <li><a href="{{ path('home') }}">acceuil</a></li>
                    <li><a href="{{ path('app_login') }}">login</a></li>
                    <li><a href="{{ path('student_index') }}">student</a></li>
                    <li><a href="{{ path('super_admin') }}">super admin</a></li>
                    <li><a href="{{ path('admin') }}">admin</a></li>
                    <li><a href="{{ path('user_admin') }}">users</a></li>
                    <li><a href="{{ path('type_event_index')}}">type event</a></li>
                    <li><a href="{{ path('event_admin')}}">events</a></li>
                    <li><a href="{{ path('user')}}">current user</a></li> 
                </ul>

            </nav>
        </header>
        {% block body %}{% endblock %}
    </body>
</html>
